.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  margin-top: 8px;
}

.example-margin {
  margin: 10px;
  width: 100%;
}

.speed {
  margin: 10px;
  width: 60px;
}

.slider {
  margin: 10px;
  width: 100%;
}

.mat-slider-horizontal {
  width: 100%;
}

mat-card {
  margin-top: 10px;
}

